<!-- <titlecasing></titlecasing> -->
<!-- <favourite [isFavourite]="post.isFavourite" (change)="onChangeFavourite($event)"></favourite> -->
<!-- <bootstrap-panel>
    <ng-container class="heading">Healing process</ng-container>
    <div class="body">
        <div>
            <p>Compession</p>
            <p>Kindness</p>
        </div>
        <div>
            <span>Obvilion</span>
            <span>Unaware</span>
        </div>
    </div>
</bootstrap-panel> -->

<!-- <app-like [isLiked]="tweet.isLiked" [likesCount]="tweet.likesCount"></app-like> -->


<!-- <directive-demo></directive-demo> -->

<!-- <zippy title="Shipping Details">
     Shipping detail content
</zippy>
<zippy title="Billing Details">
    Billing detail content
</zippy> -->


<!-- -------------------- -->

<!-- <contact-form></contact-form> -->


<!-- <udemy-form></udemy-form> -->
<!-- <signup-form></signup-form> -->


<!-- <new-course-form></new-course-form> -->

<reset-password-form></reset-password-form>